
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:  hsl(0, 9%, 86%);
}
#container{
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}
.keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 25px;
    background-color: hsl(0, 3%, 19%);
    
}
#display{
    width: 100%;
    height: 100px;
    border: none;
    background-color: hsl(0, 3%, 23%);
    text-align: left;
    padding: 20px;
    font-size: 5rem;
    color:white
}
button{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: none;
    font-size: 3rem;
    background-color: hsl(0, 2%, 20%);
    color: white;
    cursor: pointer;
}
button:hover{
    background-color:hsl(0, 2%, 30%);
}
button:active{
    background-color:hsl(0, 2%, 50%);
}
#op{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: none;
    font-size: 3rem;
    background-color: hsl(27, 85%, 44%);
    color: white;
    cursor: pointer;
}
#op:hover{
    background-color: hsl(27, 85%, 54%);
}
#op:active{
    background-color: hsl(27, 85%, 64%);
}